/********** Template CSS **********/

body {
  margin:0;
  padding:0;
}

/*** Image ***/

.thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

/*** Nav bar ***/
@media (min-width: 992px){

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 2.5rem;
}
}

/*** Footer ***/
